---
import castrGuruIcon from '../assets/castrguru.svg'

const today = new Date()

const isShowingBanner = false
const isShowingFooter = true
const isShowingPanel = true

// const pathname = Astro.url.pathname
// console.log('REQUEST', Astro.request)
// console.log('PATHNAME', pathname)
---

<section id="frame-panel" class="h-[100px] flex flex-col justify-between items-center gap-3 bg-gradient-to-b from-stone-500 to-stone-900 border-t border-violet-900 overflow-hidden">
	<div class="w-full h-[40px] flex items-center divide-x divide-violet-900">
		<input
			id="txt-target-url"
			type="text"
			placeholder="frame-anything.com"
			class="flex-1 w-1/2 sm:w-full h-full px-3 py-2 bg-violet-200 text-2xl font-bold text-violet-700 placeholder:text-violet-500/60 placeholder:text-xl sm:placeholder:text-2xl tracking-wider outline-none"
		/>

		<button id="btn-load-target" class="flex-0 h-full flex items-center px-5 py-2 bg-violet-200 hover:bg-violet-300 text-2xl font-bold text-violet-800">
			GO!
		</button>

		<button id="btn-download" class="flex-0 h-full flex items-center px-5 py-2 bg-violet-200 hover:bg-violet-300 text-2xl font-bold text-violet-800">
			<span class="sm:hidden">D/L</span>
			<span class="hidden sm:flex">Download</span>
		</button>
	</div>

	<div class="px-3 py-2 w-full flex items-center justify-end bg-stone-200">
		<!-- Enabled: "bg-fuchsia-600", Not Enabled: "bg-gray-200" -->
		<button
			type="button"
			class="relative inline-flex h-6 w-11 shrink-0 cursor-pointer rounded-full border-2 border-transparent bg-fuchsia-600 transition-colors duration-200 ease-in-out focus:outline-none focus:ring-2 focus:ring-fuchsia-600 focus:ring-offset-2"
			role="switch"
			aria-checked="false"
			aria-labelledby="orbiter-hosting-label"
		>
			<!-- Enabled: "translate-x-5", Not Enabled: "translate-x-0" -->
			<span aria-hidden="true" class="pointer-events-none inline-block size-5 translate-x-5 transform rounded-full bg-white shadow ring-0 transition duration-200 ease-in-out"></span>
		</button>

		<span class="ml-3 text-sm" id="orbiter-hosting-label">
			<span class="text-lg font-medium text-rose-900">Orbiter Hosting?</span>
			<span class="text-xs font-bold text-rose-500">( FREE ONLY )</span>
		</span>
	</div>

</section>

{isShowingFooter &&
<footer class:list={[{ "bg-stone-900": isShowingPanel }, { "border-t bg-gradient-to-b from-stone-700 to-stone-900 border-violet-900": !isShowingPanel }, "h-[50px] flex justify-between items-center gap-3"]}>
	<div class="h-[32px] mx-3 px-4 py-1 flex items-center bg-lime-100 hover:bg-lime-700 rounded-xl">
		<button class="btn-hackathon sm:hidden text-lime-800 text-base uppercase font-bold hover:text-lime-100">
			#HACKATHON
		</button>
		<button class="btn-hackathon hidden sm:inline text-lime-800 text-base uppercase font-bold hover:text-lime-100">
			#HACKATHON ( WEEK:ONE )
		</button>
	</div>

	<div class="px-3 flex items-center divide-x divide-violet-800">
		<button id="btn-panel" class="h-[32px] px-5 py-1 text-violet-800 text-sm uppercase bg-violet-100 font-bold rounded-xl rounded-r-none hover:bg-violet-700 hover:text-violet-100">
			{/* <svg class="size-6" data-slot="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
				<path d="M3 10a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0ZM8.5 10a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0ZM15.5 8.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3Z"></path>
			</svg> */}
			<svg class="size-6" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
				<path stroke-linecap="round" stroke-linejoin="round" d="M3 4.5h14.25M3 9h9.75M3 13.5h5.25m5.25-.75L17.25 9m0 0L21 12.75M17.25 9v12"></path>
			</svg>
		</button>

		<button id="btn-random" class="h-[32px] px-5 py-1 text-violet-800 text-sm uppercase bg-violet-100 font-bold rounded-xl rounded-l-none rounded-r-none hover:bg-violet-700 hover:text-violet-100">
			<svg class="size-6" data-slot="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
				<path d="M15.98 1.804a1 1 0 0 0-1.96 0l-.24 1.192a1 1 0 0 1-.784.785l-1.192.238a1 1 0 0 0 0 1.962l1.192.238a1 1 0 0 1 .785.785l.238 1.192a1 1 0 0 0 1.962 0l.238-1.192a1 1 0 0 1 .785-.785l1.192-.238a1 1 0 0 0 0-1.962l-1.192-.238a1 1 0 0 1-.785-.785l-.238-1.192ZM6.949 5.684a1 1 0 0 0-1.898 0l-.683 2.051a1 1 0 0 1-.633.633l-2.051.683a1 1 0 0 0 0 1.898l2.051.684a1 1 0 0 1 .633.632l.683 2.051a1 1 0 0 0 1.898 0l.683-2.051a1 1 0 0 1 .633-.633l2.051-.683a1 1 0 0 0 0-1.898l-2.051-.683a1 1 0 0 1-.633-.633L6.95 5.684ZM13.949 13.684a1 1 0 0 0-1.898 0l-.184.551a1 1 0 0 1-.632.633l-.551.183a1 1 0 0 0 0 1.898l.551.183a1 1 0 0 1 .633.633l.183.551a1 1 0 0 0 1.898 0l.184-.551a1 1 0 0 1 .632-.633l.551-.183a1 1 0 0 0 0-1.898l-.551-.184a1 1 0 0 1-.633-.632l-.183-.551Z"></path>
			</svg>
		</button>

		<button id="btn-home" class="h-[32px] px-5 py-1 text-violet-800 text-sm uppercase bg-fuchsia-100 font-bold rounded-xl rounded-l-none hover:bg-fuchsia-700 hover:text-violet-100">
			<img src={castrGuruIcon.src} class="size-5" />
			{/* <svg class="size-6" data-slot="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
				<path clip-rule="evenodd" fill-rule="evenodd" d="M9.293 2.293a1 1 0 0 1 1.414 0l7 7A1 1 0 0 1 17 11h-1v6a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-6H3a1 1 0 0 1-.707-1.707l7-7Z"></path>
			</svg> */}
		</button>
	</div>
</footer>
}

{isShowingBanner &&
<footer>
	<p>
		BANNER AD GOES HERE
	</p>
</footer>}

<script>
/* Import modules. */
import * as fflate from 'fflate'

const _downloadURL = (data, fileName) => {
	var a
	a = document.createElement('a')
	a.href = data
	a.download = fileName
	document.body.appendChild(a)
	a.click()
	a.remove()
}

const _downloadBlob = (data, fileName, mimeType) => {
	let blob, url
	blob = new Blob([data], {
		type: mimeType
	})
	url = globalThis.URL.createObjectURL(blob);
	_downloadURL(url, fileName);
	setTimeout(() => {
		return globalThis.URL.revokeObjectURL(url)
	}, 1000)
}

// const zipped = fflate.zipSync({
// 	/* Add README. */
// 	'index.html': fflate.strToU8(indexHtml),

// 	/* Add README. */
// 	'js/script.js': fflate.strToU8(javaScript),

// 	/* Add card info. */
// 	'info.json': fflate.strToU8(JSON.stringify(json, null, 2)),

// 	/* Add README. */
// 	'README.TXT': fflate.strToU8(README),
// }, {
// 	// NOTE: Disables compression.
// 	level: 0,
// })
// console.log('ZIPPED', zipped.length, 'bytes')
globalThis.downloadBlob = _downloadBlob
globalThis.fflate = fflate
// _downloadBlob(zipped, `frameify.zip`, 'application/octet-stream')
</script>

<script is:inline>
const PANEL_SLIDE_DURATION = 300

/* Initialize "random" sites. */
// NOTE: Also in `src/pages/index.astro`
const RANDOM_SITES = [
	'https://designmuseum.dk/',
	'https://steffiedeleeuw.com/',
	'https://www.wikipedia.org/',
	'https://www.pichiavo.com/',
	'https://noma.dk/',
	'https://www.landia.com/los-angeles/',
	'https://www.caesarstoneus.com/',
	'https://www.noguchi.org/',
	'https://quebec.ubisoft.com/en/',
	'https://raycharles.cydstumpel.nl/',
	'https://www.artgalleryofballarat.com.au/',
	'https://tetuhi.art/',
	'https://fabbricagroup.fr/',
]

function animate({ timing, draw, duration }) {
    let start = performance.now();

    function step(time) {
        let timeFraction = (time - start) / duration;
        if (timeFraction > 1) timeFraction = 1;

        let progress = timing(timeFraction);

        draw(progress);

        if (timeFraction < 1) {
            requestAnimationFrame(step);
        }
    }

    requestAnimationFrame(step);
}

document.getElementById('btn-home')
	.addEventListener('click', function () {
		/* Initialize Iframe reference. */
		const iFrame = globalThis.document.getElementById('web-stage')

		/* Go to homepage. */
		iFrame.src = 'https://castr.guru'
		// iFrame.src = 'https://castr.guru/hackathon/'
	})

Array.from(document.getElementsByClassName('btn-hackathon'))
	.forEach(_btn => {
		_btn.addEventListener('click', function () {
			/* Initialize Iframe reference. */
			const iFrame = globalThis.document.getElementById('web-stage')

			/* Go to (weekly hackathon) homepage. */
			iFrame.src = 'https://weeklyhackathon.com/'
		})
	})

document.getElementById('btn-random')
	.addEventListener('click', function () {
		/* Initialize locals. */
		let target

		/* Initialize Iframe reference. */
		const iFrame = globalThis.document.getElementById('web-stage')

		/* Select a random target. */
		target = RANDOM_SITES[Math.floor(Math.random() * RANDOM_SITES.length)]

		/* Go to a random target. */
		iFrame.src = target
	})

document.getElementById('btn-download')
	.addEventListener('click', async function () {
		/* Set (local) fflate. */
		const fflate = globalThis.fflate

		const indexHtml = `<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="robots" content="noindex" />

        <title>Soclsite</title>

        <meta name="description" content="description"/>
        <meta name="author" content="author" />
        <meta name="keywords" content="keywords" />

        <!-- <link rel="stylesheet" href="./css/tailwind.css" type="text/css" /> -->
        <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon" />

        <!-- Open Graph -->
        <meta property="fc:frame" content="{
            version: 'next',
            imageUrl: 'https://bread-achieve-device.orbiter.website/img/frameify.png',
            button: {
                title: 'â”€â”€ â‹†â‹…Orbiter ðŸ’« Soclsiteâ‹…â‹† â”€â”€',
                action: {
                    type: 'launch_frame',
                    name: 'Orbiter Soclsite by Castr GÃœRÅ²',
                    url: 'https://bread-achieve-device.orbiter.website/',
                    splashImageUrl: 'https://bread-achieve-device.orbiter.website/img/splash.gif',
                    splashBackgroundColor: '#efefef',
                }
            }
        }" />

        <!-- Open Graph -->
        <meta property="og:title" content="Soclsite" />
        <meta property="og:description" content="Toptal enables start-ups, businesses, and organizations to hire freelancers from a growing network of top talent in the world. Find quality talent to work full-time, part-time, or hourly who will seamlessly integrate into your team." />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="https://bs-uploads.toptal.io/blackfish-uploads/components/seo/content/og_image_file/og_image/669012/toptal-og-003-cd687102e152d9c03807183158ad30f7.jpg" />
        <meta property="og:url" content="https://www.toptal.com/" />

        <!-- Twitter / X -->
        <meta name="twitter:site" content="@toptal" />
        <meta name="twitter:card" content="summary_large_image" />

        <!-- FIXME We need to include the JS files in-package. -->
        <script src="https://cdn.tailwindcss.com"><\/script>
        <script src="js/main.js" type="module"><\/script>
    </head>

    <body class="w-screen h-screen overflow-hidden bg-gradient-to-r from-stone-700 to-slate-700">
		<main class="w-full sm:w-[640px] h-full mx-auto flex flex-col justify-between bg-gradient-to-b from-slate-50 to-slate-200 border-x border-slate-100 overflow-hidden">

            <div>
            	<nav class="h-[50px] px-5 py-2 flex justify-between items-center gap-3 border-b border-slate-300">
            		<span class="flex items-center gap-2">
            			<img src="https://socl.site/icon.svg" class="size-6" />

            			<h1 class="text-3xl font-bold text-slate-700 tracking-widest">
            				<span class="bg-gradient-to-r from-sky-900 to-fuchsia-700 text-transparent bg-clip-text">
            					SOCLSITE
            				</span>

            				<span class="-ml-3 text-xs text-slate-700/50 tracking-tighter">
            					by Castr GÃœRÅ²
            				</span>
            			</h1>
            		</span>

            		<div class="flex justify-around gap-4">
            			<a href="https://x.com/0xShomari" target="_blank">
            				<span class="sr-only">Follow 0xShomari on Twitter/X</span>
                            <svg class="size-6 sm:size-7" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 512 512">
                                <path d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z" />
                            </svg>
            			</a>

            			<a href="https://github.com/castrguru/frameify" target="_blank">
            				<span class="sr-only">Go to Soclsite GitHub repo</span>
                            <svg class="size-6 sm:size-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512">
                                <path d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3 .3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5 .3-6.2 2.3zm44.2-1.7c-2.9 .7-4.9 2.6-4.6 4.9 .3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3 .7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3 .3 2.9 2.3 3.9 1.6 1 3.6 .7 4.3-.7 .7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3 .7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3 .7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z" />
                            </svg>
            			</a>
            		</div>
            	</nav>
            </div>

            <iframe
                src="https://designmuseum.dk/"
                class="web-stage flex-1">
            </iframe>

            <footer class="h-[50px] flex justify-between items-center gap-3 bg-gradient-to-b from-stone-700 to-stone-900 border-t border-violet-600">
                <div class="p-3">
                    <a href="https://castr.guru/hackathon/" target="_blank" class="sm:hidden px-5 py-1 text-lime-800 text-sm uppercase bg-lime-200 font-bold rounded-2xl hover:bg-lime-700 hover:text-lime-100">
                        #HACKATHON
                    </a>
                    <a href="https://castr.guru/hackathon/" target="_blank" class="hidden sm:inline px-5 py-1 text-lime-800 text-sm uppercase bg-lime-200 font-bold rounded-2xl hover:bg-lime-700 hover:text-lime-100">
                        #HACKATHON ( WEEK:ONE )
                    </a>
                </div>

                <div class="px-3 flex gap-4 items-center">
                    <a href="javascript:Soclsite.action1()" class="px-5 py-1 text-violet-800 text-sm uppercase bg-violet-200 font-bold rounded-2xl hover:bg-violet-700 hover:text-violet-100">
                        action #1
                    </a>

                    <a href="javascript:Soclsite.action2()" class="px-5 py-1 text-violet-800 text-sm uppercase bg-violet-200 font-bold rounded-2xl hover:bg-violet-700 hover:text-violet-100">
                        action #2
                    </a>
                </div>
            </footer>
		</main>

        <noscript>
            Hey, you have JavaScript disabled, that's why you can see this message.
        </noscript>

    </body>
</html>`

		const javaScript = `
console.log('\
  ã€Œ âœ¦ your active engagement is powered by âœ¦ ã€\
  _____  ___     __  _     _____ ____  ______    ___ \
 / ___/ /   \   /  ]| |   / ___/|    ||      |  /  _]\
(   \_ |     | /  / | |  (   \_  |  | |      | /  [_ \
 \__  ||  O  |/  /  | |___\__  | |  | |_|  |_||    _]\
 /  \ ||     /   \_ |     /  \ | |  |   |  |  |   [_ \
 \    ||     \     ||     \    | |  |   |  |  |     |\
  \___| \___/ \____||_____|\___||____|  |__|  |_____|\
                           v25.3.27\
                          socl.site\
\n')

console.log('\n  Loading Soclsite engine...\n')

const action1 = () => {
    alert('Action #1')
}

const action2 = () => {
    alert('Action #2')
}

globalThis.Soclsite = {
    action1,
    action2,
}`

		const README = `
SOCLSITE README
===============

( https://socl.site/ )

Let's get started with Soclsite!

		`

		const info = {
			hi: 'there!',
		}

		let buf

		/* Request (remote) asset. */
		buf = await fetch('https://socl.site/icon.png')
        	.catch(err => console.error(err))

		/* Convert (blob) to array buffer. */
    	const sitePng = new Uint8Array(await buf.arrayBuffer())

		/* Request (remote) asset. */
		buf = await fetch('https://socl.site/splash.gif')
        	.catch(err => console.error(err))

		/* Convert (blob) to array buffer. */
    	const splashGif = new Uint8Array(await buf.arrayBuffer())

		/* Initialize zipped. */
		const zipped = fflate.zipSync({
			/* Add README. */
			'index.html': fflate.strToU8(indexHtml),

			/* Add Frameif PNG. */
			'img/framify.png': [ sitePng, { level: 0 } ],

			/* Add (animated) GIF. */
			'img/splash.gif': [ splashGif, { level: 0 } ],

			/* Add README. */
			'js/main.js': fflate.strToU8(javaScript),

			/* Add card info. */
			'info.json': fflate.strToU8(JSON.stringify(info, null, 2)),

			/* Add README. */
			'README.TXT': fflate.strToU8(README),
		}, {
			// NOTE: Disables compression.
			level: 0,
		})
console.log('ZIPPED', zipped.length, 'bytes')

		const d = new Date()
		const formatted = d.getFullYear() +
			(d.getMonth() + 1).toString().padStart(2, '0') +
			d.getDate().toString().padStart(2, '0') +
			'-' +
			d.getHours().toString().padStart(2, '0') +
			d.getMinutes().toString().padStart(2, '0') +
			d.getSeconds().toString().padStart(2, '0')

		/* Download (data) package. */
		globalThis.downloadBlob(zipped, `frameify-${formatted}.zip`, 'application/octet-stream')
	})

document.getElementById('btn-load-target')
	.addEventListener('click', function () {
		/* Initialize locals. */
		let target

		/* Initialize Iframe reference. */
		const iFrame = globalThis.document.getElementById('web-stage')

		/* Initialize (target) URL (input) reference. */
		const txtTargetUrl = globalThis.document.getElementById('txt-target-url')

		/* Set (target) URL. */
		target = txtTargetUrl.value
console.log('TARGET URL', target)

		/* Set (location) hash. */
		globalThis.location.hash = '#' + target
	})

document.getElementById('txt-target-url')
	.addEventListener('keypress', function (e) {
    	if (e.key === 'Enter') {
      		/* Initialize locals. */
			let target

			/* Initialize Iframe reference. */
			const iFrame = globalThis.document.getElementById('web-stage')

			/* Initialize (target) URL (input) reference. */
			const txtTargetUrl = globalThis.document.getElementById('txt-target-url')

			/* Set (target) URL. */
			target = txtTargetUrl.value
			console.log('TARGET URL', target)

			/* Set (location) hash. */
			globalThis.location.hash = '#' + target
    	}
	})

document.getElementById('btn-panel')
	.addEventListener('click', function () {
		/* Initialize frame panel reference. */
		const btnPanel = globalThis.document.getElementById('btn-panel')
		const framePanel = globalThis.document.getElementById('frame-panel')
// console.log('FRAME PANEL', framePanel.style.height)

		/* Validate visibliity. */
		if (framePanel.style.height === '100px') {
			/* Set visibility. */
			// framePanel.style.height='0px'
			animate({
				duration: PANEL_SLIDE_DURATION,
				timing: function(timeFraction) {
					return Math.pow(timeFraction, 2);
				},
				draw: function(progress) {
					framePanel.style.height = `${Math.floor(100 - (progress * 100))}px`
				}
			})

			btnPanel.innerHTML = `
<svg class="size-6" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
  	<path stroke-linecap="round" stroke-linejoin="round" d="M3 4.5h14.25M3 9h9.75M3 13.5h5.25m5.25-.75L17.25 9m0 0L21 12.75M17.25 9v12"></path>
</svg>`
// 			btnPanel.innerHTML = `
// <svg class="size-6" data-slot="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
// 	<path d="M3 10a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0ZM8.5 10a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0ZM15.5 8.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3Z"></path>
// </svg>`
		} else {
			/* Set visibility. */
			// framePanel.style.height='100px'
			animate({
				duration: PANEL_SLIDE_DURATION,
				timing: function(timeFraction) {
					return Math.pow(timeFraction, 2);
				},
				draw: function(progress) {
					framePanel.style.height = `${Math.floor(progress * 100)}px`
				}
			})

			btnPanel.innerHTML = `
<svg class="size-6" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
  	<path stroke-linecap="round" stroke-linejoin="round" d="M3 4.5h14.25M3 9h9.75M3 13.5h9.75m4.5-4.5v12m0 0-3.75-3.75M17.25 21 21 17.25"></path>
</svg>`
// 			btnPanel.innerHTML = `
// <svg class="size-6" data-slot="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
//   	<path d="M10 3a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM10 8.5a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM11.5 15.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0Z"></path>
// </svg>`
		}
	})

globalThis.addEventListener('hashchange', function () {
	/* Initialize locals. */
	let target

	if (location.hash) {
		/* Set target. */
		target = location.hash.slice(1)
	} else {
		// TODO
	}
console.log('HASH VALUE CHANGED -> ' + target)

// FIXME VALIDATE ADDRESS/TARGET

	/* Initialize Iframe reference. */
	const iFrame = globalThis.document.getElementById('web-stage')

	/* Validate target. */
	if (target.includes('https://')) {
		/* Go to target. */
		iFrame.src = target
	} else {
		/* Go to target. */
		iFrame.src = 'https://' + target
	}
})
</script>

<style>
#frame-panel {
	height: 0px;
}
</style>
