---
const today = new Date()

const isShowingFooter = false
---

{!isShowingFooter &&
<footer class="h-[50px] border-2 border-green-500">
	This is NO FOOTER
</footer>
}

{isShowingFooter &&
<footer>
	<p>
		<a href="https://frameify.xyz/">Frameify</a> by
		<a href="https://castr.guru">Castr GÜRŲ</a>
	</p>
</footer>}
