---
const today = new Date()

const isShowingFooter = false

// const pathname = Astro.url.pathname
// console.log('REQUEST', Astro.request)
// console.log('PATHNAME', pathname)
---

{!isShowingFooter &&
<footer class="h-[50px] flex justify-between items-center gap-3 bg-gradient-to-b from-stone-700 to-stone-900 border-t border-amber-600">
	<div class="p-3">
		<a href="https://castr.guru/hackathon/" target="_blank" class="sm:hidden px-5 py-1 text-lime-800 text-sm uppercase bg-lime-200 font-bold rounded-2xl hover:bg-lime-700 hover:text-lime-100">
			#HACKATHON
		</a>
		<a href="https://castr.guru/hackathon/" target="_blank" class="hidden sm:inline px-5 py-1 text-lime-800 text-sm uppercase bg-lime-200 font-bold rounded-2xl hover:bg-lime-700 hover:text-lime-100">
			#HACKATHON ( WEEK:ONE )
		</a>
	</div>

	<div class="px-3 flex gap-4 items-center">
		<a href="#back" class="px-5 py-1 text-amber-800 text-sm uppercase bg-amber-200 font-bold rounded-2xl hover:bg-amber-700 hover:text-amber-100">
			back
		</a>

		<button id="btn-random" class="px-5 py-1 text-amber-800 text-sm uppercase bg-amber-200 font-bold rounded-2xl hover:bg-amber-700 hover:text-amber-100">
			random
		</button>
	</div>
</footer>
}

{isShowingFooter &&
<footer>
	<p>
		<a href="https://frameify.xyz/">Frameify</a> by
		<a href="https://castr.guru">Castr GÜRŲ</a>
	</p>
</footer>}

<script>
/* Import modules. */
import * as fflate from 'fflate'

const _downloadURL = (data, fileName) => {
	var a
	a = document.createElement('a')
	a.href = data
	a.download = fileName
	document.body.appendChild(a)
	a.click()
	a.remove()
}

const _downloadBlob = (data, fileName, mimeType) => {
	let blob, url
	blob = new Blob([data], {
		type: mimeType
	})
	url = window.URL.createObjectURL(blob);
	_downloadURL(url, fileName);
	setTimeout(() => {
		return window.URL.revokeObjectURL(url)
	}, 1000)
}

const gotoRandom = () => {
	alert('going to random from (regular) script')
}

const indexHtml = `
<h1>Frameify!</h1>
`

const javaScript = `
console.log('Welcome to Frameify!')
`

const json = {
	hi: 'there!',
}

const README = `
FRAMEIFY
--------

( https://frameify.xyz/ )

Let's get started with Frameify.

`

const zipped = fflate.zipSync({
	/* Add README. */
	'index.html': fflate.strToU8(indexHtml),

	/* Add README. */
	'js/script.js': fflate.strToU8(javaScript),

	/* Add card info. */
	'info.json': fflate.strToU8(JSON.stringify(json, null, 2)),

	/* Add README. */
	'README.TXT': fflate.strToU8(README),
}, {
	// NOTE: Disables compression.
	level: 0,
})
console.log('ZIPPED', zipped.length, 'bytes')
// _downloadBlob(zipped, `frameify.zip`, 'application/octet-stream')
</script>

<script is:inline>
/* Initialize "random" sites. */
// NOTE: Also in `src/pages/index.astro`
const listRandomSites = [
	'https://designmuseum.dk/',
	'https://steffiedeleeuw.com/',
	'https://www.wikipedia.org/',
	'https://www.pichiavo.com/',
	'https://noma.dk/',
	'https://www.landia.com/los-angeles/',
	'https://www.caesarstoneus.com/',
	'https://www.noguchi.org/',
	'https://quebec.ubisoft.com/en/',
	'https://raycharles.cydstumpel.nl/',
	'https://www.artgalleryofballarat.com.au/',
	'https://tetuhi.art/',
	'https://fabbricagroup.fr/',
]

const btnRandom = document.getElementById('btn-random')

btnRandom.addEventListener('click', function () {
	/* Initialize locals. */
	let target

	/* Initialize Iframe reference. */
	const iFrame = window.document.getElementById('web-stage')

	/* Select a random target. */
	target = listRandomSites[Math.floor(Math.random() * listRandomSites.length)]
console.log('RANDOM TARGET', target)

	/* Go to a random target. */
	iFrame.src = target
})

window.addEventListener('hashchange', function () {
	/* Initialize locals. */
	let target

	if (location.hash) {
		/* Set target. */
		target = location.hash.slice(1)
	} else {
		// TODO
	}
console.log('HASH VALUE CHANGED -> ' + target)

// FIXME VALIDATE ADDRESS/TARGET

	/* Initialize Iframe reference. */
	const iFrame = window.document.getElementById('web-stage')

	/* Go to target. */
	iFrame.src = target
})
</script>
