---
// import Footer from '../components/Footer.astro'
// import Header from '../components/Header.astro'

import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>

	<body class="w-screen h-screen overflow-hidden bg-gradient-to-r from-stone-700 to-slate-700">
		<main class="w-full sm:w-[640px] h-full mx-auto flex flex-col justify-between bg-gradient-to-b from-slate-50 to-slate-200 overflow-hidden">
			<Header />
			<section class="flex-1 border-x border-slate-100">
				<slot />
			</section>
			<Footer />
		</main>
	</body>
</html>

<style>
/* main::-webkit-scrollbar {
	width: 4px;
	height: 8px;
	background-color: #763a6d;
} */
/* main::-webkit-scrollbar-thumb {
	background: #d922be;
} */
</style>
